# Telco Project Part I

## Goal:

>- Discover
>- Use

## Imports

In [1]:
# Standard imports
import pandas as pd
import numpy as np

# Graph imports
import matplotlib.pyplot as plt
import seaborn as sns
import os

# SKLearn imports
from sklearn.model_selection import train_test_split
import sklearn.preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

# Import to ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Stats import
from scipy import stats
import re

# My imports
import wrangle as w
import prepare as p
import acquire as a

### Acquire

>- Acquire the dataset from my acquire file
>- The data was pulled from the telco dataset located in MySQL
>- The data was obtained during the acquire phase of 
>-
>-
>-
>-

In [2]:
# Get your telco data
telco_df = a.get_telco_data()
print(f'{telco_df.dtypes}')

csv file found and loaded
payment_type_id               int64
internet_service_type_id      int64
contract_type_id              int64
customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
paperless_billing            object
monthly_charges             float64
total_charges                object
churn                        object
contract_type                object
internet_service_type        object
payment_type                 object
dtype: object

In [3]:
# acquire the data dictionary
data_dictionary = w.data_dictionary(telco_df)

### Prepare

>- At this point the data was prepare using a function in the prepare file.
>- The following columns were removed/added/renamed
>-
>-

In [4]:
# Clean the new dataset using the new function called prep_telco
telco_df = p.prep_telco(telco_df)

In [5]:
# Split your data into train, validate and test
train, validate, test = p.split_function(telco_df, 'churn')

### A brief look at the data

In [6]:
train.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
5911,8319-QBEHW,Male,0,No,Yes,26,No,No phone service,No,Yes,...,0,1,0,1,0,0,0,0,0,0
2479,3547-LQRIK,Female,0,Yes,No,47,Yes,Yes,No internet service,No internet service,...,0,0,0,1,0,0,1,0,1,0
5889,8280-MQRQN,Female,0,No,No,1,Yes,No,No,No,...,0,1,1,0,0,0,0,0,0,1
6087,8626-PTQGE,Male,0,No,No,69,No,No phone service,Yes,Yes,...,1,1,0,0,1,0,0,0,0,0
785,1142-IHLOO,Female,0,No,No,51,Yes,No,No,No,...,1,0,0,1,0,1,0,1,0,0

### Description of the Data

In [7]:
# Desc
train.describe()

,senior_citizen,tenure,monthly_charges,total_charges,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,...,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
count,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,...,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000,4225.000000
mean,0.161893,32.500828,65.056142,2298.513598,0.508639,0.488521,0.306272,0.906982,0.093018,0.427692,...,0.395503,0.593846,0.265325,0.216095,0.235503,0.439053,0.218462,0.217515,0.336805,0.224852
std,0.368397,24.532563,30.268493,2271.603284,0.499985,0.499927,0.460999,0.290492,0.290492,0.494803,...,0.489016,0.491172,0.441559,0.411628,0.424363,0.496330,0.413251,0.412604,0.472673,0.417534
min,0.000000,0.000000,18.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,9.000000,35.650000,411.600000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,29.000000,70.400000,1401.150000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,55.000000,90.150000,3865.450000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,72.000000,118.750000,8672.450000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Explore

>- Here you will explore your data then highlight 4 questions that you asked of the data and how those questions influenced your analysis
>- Remember to split your data before exploring how different variables relate to one another
>- Each question should be stated directly
>- Each question should be supported by a visualization
>- Each question should be answered in natural language
>- Two questions must be supported by a statistical test, but you may choose to support more than two
>- See the following example, and read the comments in the next cell

### 1. Question about the data
Ask a question about the data for which you got a meaningful result
There is no connection can be a meaningful result

### 2. Visualization of the data answering the question
Visualizations should be accompanied by take-aways telling the reader exactly what you want them to get from the chart
You can include theses as bullet points under the chart
Use your chart title to provide the main take-away from each visualization
Each visualization should answer one, and only one, of the explore questions

### 3. Statistical test
Be sure you are using the correct statistical test for the type of variables you are testing
Be sure that you are not violating any of the assumptions for the statistical test you are choosing
Your notebook should run and produce the results of the test you are using (This may be done through imports)
Include an introduction to the kind of test you are doing
Include the Ho and Ha for the test
Include the alpha you are using
Include the readout of the p-value for the test
Interpret the results of the test in natural language (I reject the null hypothesis is not sufficient)

### 4. Answer to the question
Answer the question you posed of the data by referring to the chart and statistical test (if you used one)
If the question relates to drivers, explain why the feature in question would/wouldn't make a good driver

### Exploration Summary
After your explore section, before you start modeling, provide a summary of your findings in Explore
Include a summary of your take-aways
Include a summary of the features you examined and weather or not you will be going to Modeling with each feature and why
It is important to note which features will be going into your model so the reader knows what features you are using to model on

## Modeling

### Introduction
Explain how you will be evaluating your models
Include the evaluation metric you will be using and why you have chosen it
Create a baseline and briefly explain how it was calculated

### Best 3 Models

#### Model Type

#### Test Model

#### Modeling Wrap

## Conclusion

### Summery

### Recommendations

### Next Steps